---
const { variant } = Astro.props;
---

<button id="del" data-variant={variant} class="">
  <p class="lightIcon active:solidIcon text-white hover:text-yellow-600">
    share
  </p></button
>

<style>
  .small {
    width: 28px;
  }

  .medium {
    width: 32px;
  }

  /* [data-variant="small"] {
    width: 28px;
  }
  [data-variant="medium"] {
    width: 32px;
  } */
</style>
