---
const { variant } = Astro.props;
---

<a data-variant={variant} href="https://www.facebook.com/filmstriben">
  <p class="brandIcon text-gold-500 hover:text-white"></p></a
>

<style>
  [data-variant="medium"] {
    font-size: 28px;
  }
</style>
