---
const { variant } = Astro.props;
---

<button id="heart" data-variant={variant} class="hover:text-gold-500">
  <p class="lightIcon">heart</p></button
>

<style>
  [data-variant="small"] p {
    font-size: 28px;
  }
  [data-variant="medium"] p {
    font-size: 32px;
  }

  [data-variant="large"] p {
    font-size: 48px;
  }

  p :focus {
    font-family: "fontAwesomeSolid";
  }
</style>

<script>
  const Button = document.getElementById("heart");
  const textElement = document.querySelector("#heart p");

  Button.addEventListener("click", colorOn);

  function colorOn() {
    textElement.classList = "solidIcon";
    textElement.style.color = "text-gold";
    Button.addEventListener("click", colorOff);
  }
  function colorOff() {
    textElement.classList = "lightIcon ";
    textElement.style.color = "white";
    Button.addEventListener("click", colorOn);
  }
</script>
