---
const { variant } = Astro.props;
---

<button id="user" data-variant={variant}>
  <p class="lightIcon hover:text-gold-500">heart</p></button
>

<style>
  [data-variant="small"] p {
    font-size: 28px;
  }
  [data-variant="medium"] p {
    font-size: 32px;
  }

  [data-variant="large"] p {
    font-size: 48px;
  }
</style>
