---
const { variant } = Astro.props;
---

<button id="heart" data-variant={variant}>
  <p class="lightIcon text-white hover:text-gold-400">heart</p></button
>

<style>
  [data-variant="small"] p {
    font-size: 24px;
  }
  [data-variant="medium"] p {
    font-size: 28px;
  }

  [data-variant="large"] p {
    font-size: 32px;
  }
</style>

<script>
  console.log("ready");
  const Button = document.querySelector("#heart");
  const textElement = document.querySelector("#heart p");

  //console.log(Button);

  Button.addEventListener("click", changeColor);

  function changeColor() {
    if (textElement.classList.contains("lightIcon")) {
      console.log("lightIcon");
      textElement.classList.replace("lightIcon", "solidIcon");
      textElement.classList.replace("text-white", "text-gold-500");
    } else {
      console.log("not lightIcon");
      textElement.classList.replace("solidIcon", "lightIcon");
      textElement.classList.replace("text-gold-500", "text-white");
    }
  }
</script>
