---
const { variant } = Astro.props;
---

<button
  id="heart"
  data-variant={variant}
  class="text-white active:text-yellow-600"
>
  <p class="hover:text-yellow-600 lightIcon active:solidIcon">heart</p></button
>

<style>
  /* .small {
    width: 28px;
  }

  .medium {
    width: 32px;
  }

  .large{
    width: 48pc;
  } */

  [data-variant="small"] {
    width: 28px;
  }
  [data-variant="medium"] {
    width: 32px;
  }

  [data-variant="large"] {
    width: 48px;
  }

  p :focus {
    font-family: "fontAwesomeSolid";
  }
</style>

<script>
  const Button = document.getElementById("heart");
  const textElement = document.querySelector("#heart p");

  Button.addEventListener("click", colorOn);

  function colorOn() {
    textElement.classList = "solidIcon ";
    textElement.style.color = "yellow";
    Button.addEventListener("click", colorOff);
  }
  function colorOff() {
    textElement.classList = "lightIcon ";
    textElement.style.color = "white";
    Button.addEventListener("click", colorOn);
  }
</script>
