---
const { variant } = Astro.props;
---

<button id="infoKnap" data-variant={variant} class="">
  <p class="lightIcon text-white hover:text-gold-500">circle-info</p></button
>

<style>
  [data-variant="small"] {
    font-size: 24px;
  }
  [data-variant="medium"] {
    font-size: 28px;
  }
</style>
