---
const { variant } = Astro.props;
---

<button id="del" data-variant={variant}>
  <p data-variant={variant} class="hover:text-gold-500 solidIcon">xmark</p>
</button>

<style>
  [data-variant="small"] {
    font-size: 18px;
  }
  [data-variant="medium"] {
    font-size: 20px;
  }
</style>
