---
const { variant } = Astro.props;
---

<button data-variant={variant} class=""
  ><p class="lightIcon hover:text-gold-500">circle-play</p></button
>

<style>
  [data-variant="medium"] {
    font-size: 28px;
  }
</style>
