---
const { variant } = Astro.props;
---

<button id="sog" data-variant={variant}>
  <p class="lightIcon active:solidIcon hover:text-gold-500">
    magnifying-glass
  </p></button
>

<style>
  [data-variant="small"] {
    font-size: 28px;
  }
  [data-variant="medium"] {
    font-size: 32px;
  }
</style>

<!-- <script>
  const Button = document.getElementById("sog");
  const textElement = document.querySelector("#sog p");

  Button.addEventListener("click", colorOn);

  function colorOn() {
    textElement.classList = "solidIcon ";
    textElement.style.color = "#CAAE68";
    Button.addEventListener("click", colorOff);
  }
  function colorOff() {
    textElement.classList = "lightIcon ";
    textElement.style.color = "white";
    Button.addEventListener("click", colorOn);
  }
</script> -->
