---
const { variant } = Astro.props;
---

<button id="star" data-variant={variant} class="hover:text-gold-500">
  <p class="text-grey-200 hover:text-gold-500 solidIcon">star</p></button
>

<style>
  [data-variant="small"] {
    font-size: 20px;
  }
  [data-variant="large"] {
    font-size: 54px;
  }
</style>

<script>
  console.log("ready");
  const Button = document.querySelector("#star");
  const textElement = document.querySelector("#star p");

  //console.log(Button);

  Button.addEventListener("click", changeColor);

  function changeColor() {
    if (textElement.classList.contains("lightIcon")) {
      console.log("lightIcon");
      textElement.classList.replace("lightIcon", "solidIcon");
    } else {
      console.log("not lightIcon");
      textElement.classList.replace("solidIcon", "lightIcon");
    }
  }
</script>
