---
const { variant } = Astro.props;
---

<button id="star" data-variant={variant} class="hover:text-gold-500">
  <p class="text-grey-200 hover:text-gold-500 solidIcon">star</p></button
>

<style>
  [data-variant="small"] {
    font-size: 20px;
  }
  [data-variant="large"] {
    font-size: 54px;
  }
</style>
