---
const { variant } = Astro.props;
---

<button
  id="star"
  data-variant={variant}
  class="text-gray-500 hover:text-gold-500"
>
  <p class="hover:lightIcon hover:text-gold-500 solidIcon">star</p></button
>

<style>
  [data-variant="small"] {
    font-size: 20px;
  }
  [data-variant="large"] {
    font-size: 54px;
  }
</style>

<script>
  const Button = document.getElementById("star");
  const textElement = document.querySelector("#star p");

  Button.addEventListener("click", colorOn);

  function colorOn() {
    textElement.classList = "solidIcon ";
    textElement.style.color = "yellow";
    Button.addEventListener("click", colorOff);
  }
  function colorOff() {
    textElement.classList = "solidIcon ";
    textElement.style.color = "gray";
    Button.addEventListener("click", colorOn);
  }
</script>
