---
const { variant } = Astro.props;
---

<button
  id="user"
  data-variant={variant}
  class="text-white hover:text-yellow-600"
>
  <p class="hover:lightIcon solidIcon">user</p></button
>

<style>
  [data-variant="small"] {
    font-size: 28px;
  }
  [data-variant="medium"] {
    font-size: 32px;
  }
</style>

<script>
  const Button = document.getElementById("user");
  const textElement = document.querySelector("#user p");

  Button.addEventListener("click", colorOn);

  function colorOn() {
    textElement.classList = "solidIcon ";
    textElement.style.color = "yellow";
    Button.addEventListener("click", colorOff);
  }
  function colorOff() {
    textElement.classList = "lightIcon ";
    textElement.style.color = "white";
    Button.addEventListener("click", colorOn);
  }
</script>
