---
const { variant } = Astro.props;
---

<button id="user" data-variant={variant}>
  <p class="lightIcon hover:text-gold-500">user</p></button
>

<style>
  [data-variant="small"] {
    font-size: 28px;
  }
  [data-variant="medium"] {
    font-size: 32px;
  }
</style>

<script>
  console.log("ready");
  const Button = document.querySelector("#user");
  const textElement = document.querySelector("#user p");

  //console.log(Button);

  Button.addEventListener("click", changeColor);

  function changeColor() {
    if (textElement.classList.contains("lightIcon")) {
      console.log("lightIcon");
      textElement.classList.replace("lightIcon", "solidIcon");
    } else {
      console.log("not lightIcon");
      textElement.classList.replace("solidIcon", "lightIcon");
    }
  }
</script>
