---
import Layout from "../layouts/Layout.astro";
import DataCard from "../components/Moviecard.astro";
import filmdatabase from "../filmdatabase.json";

const newArr = filmdatabase.map((item) => {
  console.log(item.genre);
  return {
    genre: item.genre,
    agalder: item.alder,
  };
});

const genre = filmdatabase.filter((film) => film.genre === clickedGenre);
console.log("********************", genre);
---

<Layout title="alle film">
  <section class="grid grid-cols-3 w-full gap-4 px-10x">
    {
      filmdatabase.map((film) => (
        <DataCard
          data={film}
          imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
        />
      ))
    }
  </section>
</Layout>
