---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import MovieCard from "../components/Moviecard.astro";
import Plakatcard from "../components/Plakatcard.astro";
import Maanedscard from "../components/Maanedscard.astro";
import Heart from "../components/ikoner/heart.astro";
import Sog from "../components/ikoner/sog.astro";
import Tilbageknap from "../components/Tilbageknap.astro";
import User from "../components/ikoner/user.astro";
import Del from "../components/ikoner/del.astro";
import Detaljertags from "../components/Detaljertags.astro";
import Star from "../components/ikoner/star.astro";
import Facebook from "../components/ikoner/facebook.astro";
import Instagram from "../components/ikoner/Instagram.astro";
import Twitter from "../components/ikoner/twitter.astro";
import Play from "../components/ikoner/play.astro";
import Kryds from "../components/Kryds.astro";
import Info from "../components/ikoner/info.astro";
import Temacard from "../components/Temacard.astro";
import Info_popup from "../components/Info_popup.astro";
import Play_popup from "../components/Play_popup.astro";
import Karrusel from "../components/Karrusel.astro";
import Stjernerating from "../components/Stjernerating.astro";
import IMDB from "../components/Imdb.astro";
import Stortplay from "../components/ikoner/Stortplay.astro";
---

<Layout title="komponent udviklings side">
  <div class="flex flex-row w-full justify-between gap-4 px-10">
    <MovieCard />
    <MovieCard />
    <MovieCard />
  </div>

  <Button variant="primary" tekst="Mere info" />
  <Button variant="filtrering" tekst="Filtrer og sorter" />
  <Tilbageknap tekst="Tilbage" />
  <Plakatcard />
  <Maanedscard />
  <Heart variant="medium" />
  <Sog variant="medium" />
  <User variant="medium" />
  <Del variant="medium" />
  <Star variant="large" />
  <Facebook variant="medium" />
  <Instagram variant="medium" />
  <Twitter variant="medium" />
  <Play variant="medium" />
  <Kryds variant="medium" />
  <Info variant="medium" />
  <Detaljertags tekst="Dansk" />
  <Temacard />
  <Play_popup />
  <Karrusel />
  <Stjernerating />
  <IMDB />
  <Stortplay />
</Layout>
