---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import MovieCard from "../components/Moviecard.astro";
import Plakatcard from "../components/Plakatcard.astro";
import Maanedscard from "../components/Maanedscard.astro";
import Heart from "../components/ikoner/heart.astro";
import Sog from "../components/ikoner/sog.astro";
import Tilbage_knap from "../components/Tilbage_knap.astro";
import User from "../components/ikoner/user.astro";
---

<Layout title="komponent udviklings side">
  <div class="flex flex-row w-full justify-between gap-4 px-10">
    <MovieCard />
    <MovieCard />
    <MovieCard />
  </div>

  <Button variant="primary" tekst="Mere info" />
  <Button variant="filtrering" tekst="Filtrer og sorter" />
  <Tilbage_knap variant="default" tekst="Tilbage" />
  <Plakatcard />
  <Maanedscard />
  <Heart variant="medium" />
  <Sog variant="medium" />
  <User variant="medium" />
</Layout>
