---
import Layout from "../layouts/Layout.astro";
import MovieCard from "../components/Moviecard.astro";
import filmdatabase from "../filmdatabase.json";
import maanedensfilm from "../maanedensfilm.json";
import Maanedscard from "../components/Maanedscard.astro";
import TemaSection from "../components/TemaSection.astro";
import Button from "../components/Button.astro";
import Heart from "../components/ikoner/heart.astro";
import Info from "../components/ikoner/info.astro";

const { tema } = Astro.props;

const temaFiltret = filmdatabase.filter((film) => film.tema === "Kærlighed");
---

<Layout title="Filmstriben | Forside">
  <div class="splash w-full h-[60vw] md:h-[40vw] overflow-hidden">
    <div
      class="bg-no-repeat bg-cover bg-top w-full h-full flex flex-col justify-end aspect-ratio"
      style="background-image: url('../img/love proof.webp')"
    >
      <div class="bottom-5 px-10 py-6 w-full justify-between flex items-end">
        <div>
          <h1 class="text-2xl font-display uppercase mb-2">Love Proof</h1>
          <div class="flex items-center gap-4">
            <Button
              variant="primary"
              typeIcon="circle-play"
              tekst="Mere info"
            />

            <div class="flex gap-4">
              <Heart variant="medium" />

              <Info variant="medium" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="flex flex-col gap-10">
    <TemaSection temaTitel="Senest tilføjet" />

    <section class="grid grid-cols-4 gap-20 m-10">
      <div class="grid justify-items-center gap-2">
        <p class="lightIcon text-lg">ticket</p>
        <h3 class="text-sm">Point</h3>
        <p>
          Du skal bruge point for at se film på Filmstriben. Point uddeles
          automatisk af biblioteket i din bopælskommune. <a href="">Læs mere</a>
        </p>
      </div>
      <div class="grid justify-items-center gap-2">
        <p class="lightIcon text-lg">camera-movie</p>
        <h3 class="text-sm">Om Filmstriben</h3>
        <p>
          Filmstriben indeholder en bred vifte af spillefilm, kort- og
          dokumentarfilm for børn, unge og voksne.
        </p>
      </div>
      <div class="grid justify-items-center gap-2">
        <p class="lightIcon text-lg">film</p>
        <h3 class="text-sm">Låneperiode</h3>
        <p>
          Du låner filmen i 48 timer. Når låneperioden er afsluttet, skal du
          ikke foretage dig yderligere
        </p>
      </div>
      <div class="grid justify-items-center gap-2">
        <p class="lightIcon text-lg">popcorn</p>
        <h3 class="text-sm">Hjemmebio</h3>
        <p>
          På Filmstriben kan du se film, når det passer dig. På din computer,
          tablet, smartphone eller Apple TV - og via Chromecast eller Airplay.
        </p>
      </div>
    </section>

    <TemaSection temaTitel="Kærlighed" />
    <TemaSection temaTitel="Far tema" />

    <section>
      <Maanedscard />
    </section>
    <TemaSection temaTitel="Far tema" />
  </main>

  <script></script>
</Layout>
