---
import Layout from "../layouts/Layout.astro";
import MovieCard from "../components/Moviecard.astro";
import filmdatabase from "../filmdatabase.json";
import maanedensfilm from "../maanedensfilm.json";
import Maanedscard from "../components/Maanedscard.astro";
import TemaSection from "../components/TemaSection.astro";
import Button from "../components/Button.astro";
import Heart from "../components/ikoner/heart.astro";
import Info from "../components/ikoner/info.astro";
import Tema_karrusel from "../components/Tema_karrusel.astro";
import Plakat_karrusel from "../components/Plakat_karrusel.astro";
import Hero from "../components/Hero.astro";

const { tema } = Astro.props;

const temaFiltret = filmdatabase.filter((film) => film.tema === "Kærlighed");
---

<Layout title="Filmstriben | Forside">
  <Hero />
  <!-- <div class="splash w-full h-[60vw] md:h-[40vw] overflow-hidden">
    <div
      class="bg-no-repeat bg-cover bg-top w-full h-full flex flex-col justify-end aspect-ratio"
      style="background-image: url('../img/love proof.webp')"
    >
      <div class="bottom-5 px-10 py-6 w-full justify-between flex items-end">
        <div>
          <h1 class="text-2xl font-display uppercase mb-2">Love Proof</h1>
          <div class="flex items-center gap-4">
            <Button
              variant="primary"
              typeIcon="circle-play"
              tekst="Mere info"
            />

            <div class="flex gap-4">
              <Heart variant="medium" />

              <Info variant="medium" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <main class="flex flex-col gap-20 pt-12">
    <TemaSection temaTitel="Senest tilføjet" />

    <section class="flex flex-row px-20 justify-between text-center">
      <div class="flex flex-col justify-items-center gap-5">
        <p class="lightIcon text-lg text-gold-500">ticket</p>
        <h3 class="text-sm font-display uppercase">Point</h3>
        <p class="max-w-[25ch] body-md text-grey-200">
          Du skal bruge point for at se film på Filmstriben. Point uddeles
          automatisk af biblioteket i din bopælskommune. <a href="">Læs mere</a>
        </p>
      </div>
      <div class="flex flex-col justify-items-center gap-5">
        <p class="lightIcon font-extralight text-lg text-gold-500">
          camera-movie
        </p>
        <h3 class="text-sm font-display uppercase">Om Filmstriben</h3>
        <p class="max-w-[25ch] body-md text-grey-200">
          Filmstriben indeholder en bred vifte af spillefilm, kort- og
          dokumentarfilm for børn, unge og voksne.
        </p>
      </div>
      <div class="flex flex-col justify-items-center gap-5">
        <p class="lightIcon text-lg text-gold-500">film</p>
        <h3 class="text-sm font-display uppercase">Låneperiode</h3>
        <p class="max-w-[25ch] body-md text-grey-200">
          Du låner filmen i 48 timer. <br /> Når låneperioden er afsluttet, skal
          du ikke foretage dig yderligere
        </p>
      </div>
      <div class="flex flex-col justify-items-center gap-5">
        <p class="lightIcon text-lg text-gold-500">popcorn</p>
        <h3 class="text-sm font-display uppercase">Hjemmebio</h3>
        <p class="max-w-[25ch] body-md text-grey-200">
          På Filmstriben kan du se film, når det passer dig. På din computer,
          tablet, smartphone eller Apple TV - og via Chromecast eller Airplay.
        </p>
      </div>
    </section>
    <Plakat_karrusel temaTitel="Oscar-film | vindere og nominerede" />

    <TemaSection temaTitel="Senest tilføjet" />
    <section>
      <Maanedscard />
    </section>
    <TemaSection temaTitel="Kærlighed" />
    <Tema_karrusel temaTitel="Film om Mongoliet" />

    <TemaSection temaTitel="Far tema" />
  </main>

  <script></script>
</Layout>
