@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "fontAwesomeLight";
    src: url(/src/style/fonts/Font\ Awesome\ 6\ Pro-Light-300.otf);
  }
  @font-face {
    font-family: "fontAwesomeSolid";
    src: url(/src/style/fonts/Font\ Awesome\ 6\ Pro-Solid-900.otf);
  }

  @font-face {
    font-family: "fontAwesomeBrand";
    src: url(/src/style/fonts/Font\ Awesome\ 6\ Brands-Regular-400.otf);
  }

  p,
  li {
    font-family: "Roboto", serif;
    color: white;
  }

  li {
    position: relative;
  }

  .Underline:hover,
  .navpunkt:hover {
    color: #caae68;
    /* border-bottom: 1px solid goldenrod; */
  }

  .Underline::after,
  .navpunkt::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #caae68;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .Underline:hover::after,
  .navpunkt:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .divider {
    border-right: 1px solid #e6e6e6;
  }

  .dividerLeft {
    border-left: 1px solid #e6e6e6;
  }

  .brandIcon {
    font-family: "fontAwesomeBrand", sans-serif;
  }
  .lightIcon {
    font-family: "fontAwesomeLight", sans-serif;
  }
  .solidIcon {
    font-family: "fontAwesomeSolid", sans-serif;
    fill: currentColor;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: white;
  }

  .body-lg {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 150%;
  }

  .body-md {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 150%;
  }

  .body-sm {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 150%;
  }
  .body-xs {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 150%;
  }
}

@layer utilities {
  html,
  .noScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .aspect-ratio {
    aspect-ratio: 16 / 9;
  }
  ,
  .content-auto {
    content-visibility: auto;
  }
  .noBreak {
    white-space: nowrap;
  }
}
