@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "fontAwesomeLight";
    src: url(/src/style/fonts/Font\ Awesome\ 6\ Pro-Light-300.otf);
  }
  @font-face {
    font-family: "fontAwesomeSolid";
    src: url(/src/style/fonts/Font\ Awesome\ 6\ Pro-Solid-900.otf);
  }

  @font-face {
    font-family: "fontAwesomeBrand";
    src: url(/src/style/fonts/Font\ Awesome\ 6\ Brands-Regular-400.otf);
  }
  p {
    font-family: "Roboto", serif;
    color: white;
  }

  .brandIcon {
    font-family: "fontAwesomeBrand", sans-serif;
  }
  .lightIcon {
    font-family: "fontAwesomeLight", sans-serif;
  }
  .solidIcon {
    font-family: "fontAwesomeSolid", sans-serif;
    fill: currentColor;
  }

  h2 {
    font-family: "din condensed", Courier, monospace;
    color: white;
    letter-spacing: 0.04em;
    font-size: 34px;
    line-height: 100%;
    font-weight: 700;
  }

  .body-sm {
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
