---
import Kryds from "../components/ikoner/Kryds.astro";
---

<ul>
  <li class="burger cursor-pointer lightIcon hover:text-gold-400">bars</li>

  <div
    class="undermenuBurger hidden absolute left-0 mt-4 h-screen py-4 pb-28 px-8 bg-black flex-col gap-4 overflow-scroll scrollbar-hide"
  >
    <div class="lukBurger flex w-full justify-end"><Kryds /></div>
    <ul class="flex flex-col pb-4 gap-6">
      <li class="w-full pb-2 border-b-[1px] font-display text-sm uppercase">
        Point
      </li>
      <a href="#"> <img class="w-1/2" src="../pointCirkel.svg" alt="" /></a>
      <p>
        Du har 8 point tilbage denne måned. <br /> bibliotek tilbyder dig 12 point
        i alt hver måned. <br /><a class="underline text-white" href="#"
          >Læs mere her</a
        >
      </p>
    </ul>

    <ul class="flex flex-col pb-4">
      <li class="w-full pb-2 border-b-[1px] font-display text-sm uppercase">
        Nyheder
      </li>
      <ul class="underpunkter w-full flex flex-col gap-3 pt-3 pr-8">
        <li class="flex text-grey-200">
          <a class="Underline pr-8" href="#">Nyeste film og TV-serier</a>
        </li>

        <li class="text-grey-200">
          <a class="Underline" href="#">Kommende film</a>
        </li>
        <li class="text-grey-200">
          <a class="Underline" href="#">Nyhedsarkiv</a>
        </li>
        <li class="text-grey-200">
          <a class="Underline" href="#">Alle film</a>
        </li>
      </ul>
    </ul>
    <ul class="flex flex-col">
      <li class="w-full pb-2 border-b-[1px] font-display text-sm uppercase">
        Information
      </li>
      <ul class="underpunkter flex flex-col gap-3 pt-3">
        <li class="flex text-grey-200">
          <a class="Underline" href="#">Hvordan ser jeg film</a>
        </li>

        <li class="text-grey-200">
          <a class="Underline" href="#">Om filmstriben</a>
        </li>
        <li class="text-grey-200">
          <a class="Underline" href="#">Om pointsystem</a>
        </li>
        <li class="text-grey-200">
          <a class="Underline" href="#">Kontakt kundeservice</a>
        </li>
        <li class="text-grey-200">
          <a class="Underline" href="#">Se film på biblioteket</a>
        </li>
        <li class="text-grey-200">
          <a class="Underline" href="#">Tilmeld nyhedsbrev</a>
        </li>
      </ul>
    </ul>
  </div>
</ul>
<script>
  const burgermenu = document.querySelector(".burger");
  const undermenu = document.querySelector(".undermenuBurger");
  const luk = document.querySelector(".lukBurger");

  burgermenu.addEventListener("click", () => {
    undermenu.classList.toggle("hidden");
  });
  luk.addEventListener("click", () => {
    undermenu.classList.toggle("hidden");
  });
</script>

<style>
  .undermenuBurger {
    display: flex;
  }
</style>
