---
const { tekst, variant } = Astro.props;
---

<button data-variant={variant}
  ><h4
    class="button_tekst bg-yellow-500 hover:bg-slate-600 text-display px-8 py-3 rounded-md hover:text-yellow-600"
  >
    {tekst}
  </h4></button
>
