---
const { tekst, variant, typeIcon } = Astro.props;
---

<button data-variant={variant} class="w-fit gap-2 py-2 px-5 rounded-md flex">
  <div class="body-md">
    {tekst}
  </div>
  <div class="icon lightIcon">
    <p class="lightIcon">{typeIcon}</p>
  </div>
</button>

<style>
  button {
    background-color: currentColor;
    color: #261f0d;
  }

  /* Primærknap */

  [data-variant="primary"],
  [data-variant="primary-uden-icon"] {
    background-color: #caae68;
    border: 1px solid #caae68;
    color: #261f0d;
  }

  [data-variant="primary"]:hover,
  [data-variant="primary-uden-icon"]:hover {
    background-color: #5e543a50;
    color: #caae68;
  }

  [data-variant="primary"] p {
    color: #261f0d;
  }
  [data-variant="primary"]:hover p {
    color: #caae68;
  }

  [data-variant="primary-uden-icon"] .icon,
  [data-variant="secondary-uden-icon"] .icon {
    display: none;
  }

  /* Filtreringsknap */

  [data-variant="secondary"],
  [data-variant="secondary-uden-icon"] {
    background-color: #141414a0;
    color: #caae68;
    border: 1px solid #caae68;
  }

  [data-variant="secondary"]:hover,
  [data-variant="secondary-uden-icon"]:hover {
    background-color: #caae68;
    color: #141414;
  }
  [data-variant="secondary"] p {
    color: #caae68;
  }

  [data-variant="secondary"]:hover p,
  [data-variant="secondary-uden-icon"]:hover p {
    color: #141414;
  }
</style>
