---
const { tekst, variant, filtrering } = Astro.props;
---

<button data-variant={variant} class="flex gap-2 py-3 px-5 rounded-md">
  <div class="body-xs">
    {tekst}
  </div>
  <div class="icon lightIcon">
    <p class="lightIcon text-gold-500">Sliders</p>
  </div>
</button>

<style>
  button {
    background-color: currentColor;
    color: #261f0d;
  }

  [data-variant="primary"] .icon {
    display: none;
  }

  [data-variant="primary"]:hover {
    background-color: #5e543a;
    color: #caae68;
  }

  [data-variant="primary"] {
    background-color: #caae68;
    color: black;
    border: 1px solid #caae68;
  }

  [data-variant="filtrering"] {
    background-color: black;
    color: #caae68;
    border: 1px solid #caae68;
  }

  [data-variant="filtrering"]:hover {
    background-color: #caae68;
    color: black;
  }
  [data-variant="filtrering"]:hover p {
    color: black;
  }
</style>
