---
const { tekst, variant } = Astro.props;
---

<button data-variant={variant}><h4 class="button_tekst bg-yellow-500 hover:bg-slate-600 text-display px-8 py-3 hvoer:border-solid  hover:border-yellow-500 rounded-md">{tekst}</h4></button>