<footer class="bg-black">
  <section class=" grid grid-cols-6 mx-32 my-32">
  <div class="logo">
 <img class="logo" src="../logo.svg" alt="logo" />
    <p class="text-white">© DBC Digital A/S</p>
</div>

<div class="m-8">
  <!-- <a class="" href="">Infomation</a> -->
  <a class="text-white" href="">Om Filmstriben</a> 
  <a class="text-white" href="">Persondata</a> 
  <a class="text-white" href="">Tilgængelighedserklæring</a> 
</div>

<div class="m-8">
  <!-- <a class="" href="">Til brugerne</a> -->
  <a class="text-white" href="">Om pointsystem</a> 
  <a class="text-white" href="">Hvordan ser jeg film</a> 
  <a class="text-white" href="">Se film på biblioteket</a> 
  <a class="text-white" href="">Kontakt kundeservice</a> 
</div>

<div class="m-8">
  <img src="../dbc_logo.svg" alt="dbc_logo">
  <p class="text-white">Tempovej 7-11 2750 Ballerup </p>
  <p class="text-white">+45 44 86 77 77</p>
</div>

<div class="m-8">
 <label class="block">
  <input type="email" name="email" class="mt-1 px-3 py-2  border-bottom shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" placeholder="you@example.com" />
</label>
<div>
  <h5 class="text-white">Følg os:</h5>
</div>

</div>
<div>
  <button>Tilmeld nyhedsbrev</button>
  <img src="../share_with_care.svg" alt="share_with_care">
</div>

</section>
</footer>

