---
import Button from "../components/Button.astro";
import Facebook from "../components/ikoner/facebook.astro";
import Instagram from "../components/ikoner/Instagram.astro";
import Twitter from "../components/ikoner/twitter.astro";
---

<footer class="bg-black">
  <section class="grid grid-cols-6 mx-12 my-8">
    <div class="logo flex flex-col mx-8">
      <img class="logo" src="../logo.svg" alt="logo" />
      <p class="text-white mt-8">© DBC Digital A/S</p>
    </div>

    <div class="mx-8 flex flex-col gap-1">
      <a class="text-xs text-gold-500 mb-4" href="">Infomation</a>
      <a class="body-sm text-grey-200" href="">Om Filmstriben</a>
      <a class="body-sm text-grey-200" href="">Persondata</a>
      <a class="body-sm text-grey-200" href="">Tilgængelighedserklæring</a>
    </div>

    <div class="mx-8 flex flex-col gap-1">
      <a class="text-xs text-gold-500 mb-4">Til brugerne</a>
      <a class="body-sm text-grey-200" href="">Om pointsystem</a>
      <a class="body-sm text-grey-200" href="">Hvordan ser jeg film</a>
      <a class="body-sm text-grey-200" href="">Se film på biblioteket</a>
      <a class="body-sm text-grey-200" href="">Kontakt kundeservice</a>
    </div>

    <div class="mx-8 flex flex-col gap-1">
      <img class="mb-4 w-1/2" src="../dbc_logo.svg" alt="dbc_logo" />
      <p class="body-sm text-grey-200">Tempovej 7-11 2750 Ballerup</p>
      <p class="body-sm text-grey-200">+45 44 86 77 77</p>
    </div>

    <div class="mx-8 flex flex-col">
      <div class="flex gap-3">
        <div>
        <p class="body-sm text-grey-200">Email</p>
        <hr class="text-white">
      </div>
        <Button variant ="secondary-uden-icon" tekst="Tilmeld nyhedsbrev" />
      </div>

      <div class="flex gap-3">
        <h5 class="text-white body-sm">Følg os:</h5>
        <Facebook variant="medium" />
        <Instagram variant="medium" />
        <Twitter variant="medium" />

        <img class="pl-16" src="../share_with_care.svg" alt="share_with_care" />
      </div>
    </div>
  </section>
</footer>
