<header class="bg-black flex justify-center px-20">
  <div class="flex justify-between w-full">
    <div>
      <div class="burgermenu">
        <p class="text-white">burger</p>
      </div>
      <div class="flex gap-2">
        <div class="navpunkt">
          <p class="text-white">navpunkt</p>
        </div>

        <div class="navpunkt">
          <p class="text-white">navpunkt</p>
        </div>
      </div>
    </div>
    <div>
      <img class="logo w-28" src="../logo.svg" alt="logo" />
    </div>

    <div class="flex flex-row">
      <div>
        <p class="lightIcon text-white">search</p>
      </div>
      <div>
        <p class="solidIcon text-red">heart</p>
      </div>
      <div>
        <p class="lightIcon text-white">user</p>
        <p class="solidIcon text-white">user</p>
      </div>
    </div>
  </div>
</header>

<style>
  .fill {
    width: 12px;
    color: azure;
  }
</style>
