---
import Bornmenu from "./Bornmenu.astro";
import Genremenu from "./Genremenu.astro";
const { navpunkt, specialClass } = Astro.props;
---

<header
  class="sticky z-50 top-0 bg-black flex flex-col justify-center px-10 pb-4 pt-2"
>
  <div>
    <p class="text-[8px] text-gray-400 float-right">
      Hej Bruger | Du bydes velkommen af <strong>Københavns Biblioteker</strong>
    </p>
  </div>
  <div class="flex justify-between items-center w-full">
    <div class="flex gap-4">
      <div class="burgermenu">
        <p class="text-white">burger</p>
      </div>
      <div class="flex gap-2">
        <div class="">
          <Bornmenu specialClass="born" />
        </div>
        <div class="">
          <Genremenu specialClass="genre" />
        </div>
      </div>
    </div>

    <a href="/"> <img class="logo w-20" src="../logo.svg" alt="logo" /></a>

    <div class="flex flex-row gap-4">
      <div>
        <p class="lightIcon text-white">search</p>
      </div>
      <div class="text-white">
        <p class="solidIcon">heart</p>
      </div>
      <div>
        <p class="solidIcon text-white">user</p>
      </div>
    </div>
  </div>
</header>

<style></style>
