<header class="bg-black">
  <section class="flex">
  <div class="burgermenu">
    <p class="text-white">burger</p>
</div>
<div class="navpunkt">
<p class="text-white">navpunkt</p>
</div>

<div class="navpunkt">
<p class="text-white">navpunkt</p>
</div>
<div>
 <img class="logo w-28" src="../logo.svg" alt="logo" />
</div>
</section>
</header>

