---
const { tal } = Astro.props;
---

<div class="flex gap-2 items-baseline">
  <img class="" src="../imdb.svg" alt="imdb logo" />
  <p class="body-sm text-grey-300">
    <strong class="text-white body-lg">{tal}</strong> /10
  </p>
</div>

<style>
  p .body-sm {
    line-height: 80%;
  }
</style>
