---
import Button from "../components/Button.astro";
import Kryds from "../components/Kryds.astro";
---

<article class="bg-grey-700 border border-gold-500 w-1/2 h-1/2 py-10">
  <Kryds class="" variant="medium" />
  <div class="grid justify-items-center gap-4">
    <h2 class="text-lg">Love proof</h2>
    <p class="text-lg text-grey-200">
      Hver film du låner har du til rådighed i 48 timer.
    </p>
    <img src="../hjul.svg" alt="" />
    <p>Herefter har du 8 point tilbage denne måned</p>
    <p class="text-grey-200">Læs mere om point <a href=""></a>her</p>
    <Button variant="primary" tekst="Lån film" />
  </div>
  <div class="ml-14">
    <p class="body-sm">Dit biblotek</p>
    <p class="font-bold">Københavns biblioteker</p>
  </div>
</article>
