---
import Button from "../components/Button.astro";
import Kryds from "../components/ikoner/Kryds.astro";
---

<article
  id="popupContainer"
  class="bg-black bg-opacity-90 border border-gold-500 w-fit h-fit py-6 px-32"
>
  <div id="closeButton" class="luk flex w-full justify-end">
    <Kryds variant="medium" />
  </div>
  <div class="grid justify-items-center gap-4">
    <h2 class="text-lg font-display">Love proof</h2>
    <p class="body-lg text-grey-200">
      Hver film du låner har du til rådighed i 48 timer.
    </p>
    <img src="../hjul.svg" alt="" />
    <p>Herefter har du 8 point tilbage denne måned</p>
    <p class="text-grey-200">Læs mere om point <a href=""></a>her</p>
    <Button variant="primary" tekst="Lån film" />
  </div>
  <div class="ml-14">
    <p class="body-sm">Dit biblotek</p>
    <p class="font-bold">Københavns biblioteker</p>
  </div>
</article>

<!-- <script>
  document.getElementById("myButton").addEventListener("click", function () {
    var popup = document.getElementById("popupContainer");
    popup.style.display = "block";
  });

  document.getElementById("closeButton").addEventListener("click", function () {
    var popup = document.getElementById("popupContainer");
    popup.style.display = "none";
  });
</script> -->
