---
/* Import af Motion One bibliotek */
---

<div
  class="progress-bar w-1 fixed h-full bg-gold-400 z-40 origin-top-left top-0 bottom-0 right-0 ease-linear duration-300"
>
</div>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  scroll(animate(".progress-bar", { scaleY: [0, 1] }));
</script>
