---
export interface Props {
  title: string;
}
---

<div
  class="progress-bar h-4 fixed w-full bg-rose-900 left-0 origin-top-left top-0 right-0"
>
</div>
<!-- 
<div class="progress_bar flex justify-end mr-8 gap-2">
  <div class="w-5 h-1 bg-grey-200"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
</div> -->

<script>
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));
</script>
