<div class="progress_bar flex justify-end mr-8 gap-2">
  <div class="w-5 h-1 bg-grey-200"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
  <div class="w-5 h-1 bg-grey-500"></div>
</div>
