---
import Star from "../components/ikoner/star.astro";
---

<div class="rating">
    <div class="stars flex">
    <p class="hover:lightIcon hover:solid-gold-500 hover:text-gold-500 solidIcon">star</p>
    <p class="hover:lightIcon hover:text-gold-500 solidIcon">star</p>
    <p class="hover:lightIcon hover:text-gold-500 solidIcon">star</p>
    <p class="hover:lightIcon hover:text-gold-500 solidIcon">star</p>
    <p class="hover:lightIcon hover:text-gold-500 solidIcon">star</p>
</div>
  </div>

<style>
.hover\\:lightIcon:hover,
.hover\\:lightIcon:hover ~ .hover\\:lightIcon {
  fill: yellow !important;
}
</style>    
  