---
import Star from "../components/ikoner/star.astro";

const { antal } = Astro.props;
---

<div class="rating flex items-baseline gap-2">
  <div class="">
    <Star variant="small" />
    <Star variant="small" />
    <Star variant="small" />
    <Star variant="small" />
    <Star variant="small" />
  </div>
  <div>
    <p class="body-sm text-grey-400">
      Filmstribens bruger ({antal})
    </p>
  </div>
</div>

<!-- <div class="MoviePlayer-rating-item flex">
  <div>
    <button class="MoviePlayer-stars_f fa fa-star active before:text-gold-500">
      <img class="star" src="public/icons/star.svg" alt="" />
    </button>
  </div>
</div>
  </div>

<style>
.hover\\:lightIcon:hover,
.hover\\:lightIcon:hover ~ .hover\\:lightIcon {
  fill: yellow !important;
}
</style>    
  
  .MoviePlayer-rating-item {
    display: inline-block;
  }

  .MoviePlayer-stars_f.active {
    color: #ffd200;
  }
</style>

-->
