---
import Star from "../components/ikoner/star.astro";
---
<div class="MoviePlayer-rating-item flex">
    <div>
        <button class="MoviePlayer-stars_f fa fa-star active">
            <img class="star" src="public/icons/star.svg" alt="">
        </button>
    </div>
</div>

<style>
.MoviePlayer-rating-item {
    display: inline-block;
}

.MoviePlayer-stars_f.active {
    color: #ffd200;
}
</style>    
    
  