---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Procesbar from "../components/procesbar.astro";

import "../style/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;

/* Import af Motion One bibliotek */
import { animate, stagger, inView, scroll, timeline } from "motion";
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Filmstriben er bibliotekernes digitale film bibliotek.
    Filmstriben har et bredt og alsidigt udvalg af spillefilm, kortfilm og dokumentarfilm i forskellige film genre. "
    />
    <meta name="keywords" content="film genre, danske film, dokumentarfilm" />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="https://use.typekit.net/fio0bms.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon/favicon-32x32.png"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>{title}</title>
  </head>
  <div
    class="z-[900] w-screen h-screen bg-black fixed px-16 py-40 flex flex-col justify-between place-content-center gap-6 md:hidden"
  >
    <div
      class="absolute top-0 left-0 bg-grey-50 w-screen flex justify-between px-4 py-6"
    >
      <div class="flex gap-4 items-center">
        <img class="w-fit" src="../appikon.svg" alt="" />
        <div>
          <p class="body-lg font-light text-grey-900 leading-none">
            Filmstriben
          </p>
          <p class="body-xs font-light text-grey-700">
            Dit lokale filmbibliotek
          </p>
        </div>
      </div>
      <img class="w-fit" src="../appknap.svg" alt="" />
    </div>
    <h1 class="font-display uppercase text-md">
      Få den mest optimale <span class="text-gold-400">biografoplevelse</span> med
      filmstribens app!
    </h1>
    <p class="text-grey-200">
      For at få den bedste oplevelse henviser vi dig til at benytte vores appen.
    </p>
    <p class="text-grey-200">
      Download Filmstribens app der hvor du downloader apps og få adgang til et
      væld af forskellige film genre.
    </p>
    <div class="flex w-full justify-between">
      <img
        src="../appstore.svg"
        alt="Billede af Appstore icon der linker til Filmstribens app"
      />
      <img
        src="../googleplay.svg"
        alt="Billede af Appstore icon der linker til Filmstribens app"
      />
    </div>
    <img class="w-fit mt-8" src="../logo.svg" alt="" />
  </div>
  <Header />
  <body class="bg-black">
    <Procesbar />
    <slot />
  </body>
  <Footer />


</html>
