---
import filmkategoridatabase from "../filmkategori.json";
import Kryds from "../components/Kryds.astro";
console.log(filmkategoridatabase);
const { navpunkt, specialClass } = Astro.props;
---

<ul class="ulle">
  <li class={`${specialClass} navpunkt cursor-pointer`}>{navpunkt}</li>

  <div
    class="undermenu absolute hidden left-0 w-screen py-4 px-12 bg-black flex flex-col"
  >
    <div class="luk flex w-full justify-end"><Kryds /></div>
    <div class="flex flex-row gap-8">
      <ul
        class="kategori divider pr-8 py-4 grid grid-cols-2 grid-rows-3 gap-x-4 gap-y-2"
      >
        <li class="flex py-1 px-1 align-middle text-yellow-600 font-medium">
          <a href="allefilm">Alle film</a>
        </li>
        {
          filmkategoridatabase.map((filmkategori) => (
            <>
              <li class=" py-1 px-1 align-middle ">
                <a href={filmkategori}>{filmkategori}</a>
              </li>
            </>
          ))
        }
      </ul>

      <slot />
    </div>
  </div>
</ul>

<script>
  //Først starter vi med at vælge alle elementer i dokumentet, der har klassenavnet "ulle" ved hjælp af document.querySelectorAll(".ulle"). Resultatet gemmes i variablen uller
  const uller = document.querySelectorAll(".ulle");
  //Derefter anvender vi en forEach-loop på uller-variablen. For hvert element tilføjer den en eventlisteneren til "click"-hændelsen ved hjælp af ul.addEventListener("click", () => { ... }).
  uller.forEach((ul) => {
    //Inde i klik-aktiveret funktion anvender vi igen en forEach-loop på uller. Denne gang sammenligner den hvert element (item) med det aktuelle element, der blev klikket på (ul).
    ul.addEventListener("click", () => {
      uller.forEach((item) => {
        //Hvis item ikke er det samme som ul, fjerner koden klassenavnet "active" fra item ved hjælp af item.classList.remove("active"). Dette trin fjerner "active"-klassen fra alle andre elementer, der ikke er blevet klikket på.
        if (item !== ul) {
          item.classList.remove("active");
        }
      });
      //Efter at have afsluttet den første forEach-loop, anvender koden ul.classList.toggle("active") for at tilføje eller fjerne klassenavnet "active" fra det aktuelle element, der blev klikket på. Hvis elementet allerede har klassen "active", fjernes den, ellers tilføjes den.
      ul.classList.toggle("active");
    });
  });
</script>

<style>
  .divider {
    border-right: 1px solid #ffffff;
  }
  .kategori:first-child {
    color: goldenrod;
  }

  .active .undermenu {
    display: block;
  }
</style>
